

.f{
   margin-top: 50px;
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px auto;
    
    background-color: #f7f7f7;
    border-radius:5px ;
    box-shadow:0px 0px 10px rgba(0,0,0, 0.2) ;
}


h1{
text-align: center;
}

label{
font-weight: bold;
}

.form-control{
margin-bottom: 15px;
width: 100%;
}

.btn-primary{
width: 100%;
background-color: blue;
border: none;
color: #f7f7f7;
}